<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

			<section name="nilnul.dev._bak_._WIN_._settings.nilnul_dev.srcs.bak_._retVoid.settings._override.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="nilnul.dev._bak_._WIN_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="nilnul.dev.srcs.bak_._retVoid.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />

			<section name="nilnul.dev.bak.nilnul0.dev.src.sln.div_.unjoint_.nonneglect_.giT_.work_.top_._incomplete_.container_.undone_.primed._bak_._upload.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.diagnostics>
		<switches>
			<add name="sourceSwitch" value="Verbose" />
			<add name="verbose" value="Verbose" />
			<add name="mySwitch" value="1" />
			<!--
			By default, a BooleanSwitch is disabled and a TraceSwitch is set to level TraceLevel.Off. Trace switches can be created and placed in any part of your code that might use them.
			In the .NET Framework versions 1.0 and 1.1, trace levels in configuration files are set using the integer value corresponding to the enumeration member, rather than the enumeration member itself, as the following example demonstrates.
			In the .NET Framework version 2.0, you can use text to specify the value for a switch. For example, true for a BooleanSwitch or the text representing an enumeration value, such as Error for a TraceSwitch. The line <add name="mySwitch" value="Error" /> is equivalent to <add name="mySwitch" value="1" />.
			
			When the TraceSwitch constructor cannot find initial switch settings in the configuration file, the Level property of the new switch is set to TraceLevel.Off.-->
			<!--
			By default, the Enabled property is set using the value specified in the configuration file. Configure the switch with a value of 0 to set the Enabled property to false; configure the switch with a nonzero value to set the Enabled property to true. If the BooleanSwitch constructor cannot find initial switch settings in the configuration file, the Enabled property of the new switch is set to false by default.
			-->
			<!--This configuration section defines a TraceSwitch with the DisplayName set to mySwitch, and the Level set to 1, which corresponds to the enumeration value TraceLevel.Error.

			Note

			In the .NET Framework version 2.0, you can use text to specify the value for a switch. For example, true for a BooleanSwitch or the text representing an enumeration value, such as Error for a TraceSwitch. The line <add name="mySwitch" value="Error" /> is equivalent to <add name="mySwitch" value="1" />.

			In your application, you can use the configured switch level by creating a TraceSwitch with the same name, as shown in the following example:

			C#

			Copy
			private static TraceSwitch appSwitch = new TraceSwitch("mySwitch",
			"Switch in config file");

			public static void Main(string[] args)
			{
			//...
			Console.WriteLine("Trace switch {0} configured as {1}",
			appSwitch.DisplayName, appSwitch.Level.ToString());
			if (appSwitch.TraceError)
			{
			//...
			}
			}
			By default, the switch Level property is set using the value specified in the configuration file. If the TraceSwitch constructor cannot find initial switch settings in the configuration file, the Level of the new switch defaults to TraceLevel.Off.-->
			<!--
			This example configuration section defines a BooleanSwitch with the DisplayName property set to mySwitch and the Enabled value set to true. Within your application, you can use the configured switch value by creating a BooleanSwitch with the same name, as shown in the following code example.
			-->
		</switches>
		<sharedListeners>
			<add name="console" type="System.Diagnostics.ConsoleTraceListener">
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
			</add>
			<!--When trace and debugging output is enabled, the ConsoleTraceListener messages are written to the specified System.Console stream, which is similar to the way messages are written with the Console.Write or Console.WriteLine methods. In a console application, the System.Console output and error streams write messages to the existing console window, or you can redirect the streams to write to a System.IO.TextWriter instance.

			Note

			If the console does not exist, as in a Windows-based application, messages written to the console are not displayed.-->
			<add name="txt" type="nilnul.app.trace.listener_.file_.TemplatedName,nilnul._app_._LIB_" initializeData="src@time.log" traceOutputOptions="DateTime,Callstack">
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
			</add>

		</sharedListeners>
		<sources>
			<source name="consoleFilterWarning" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener">
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
					</add>
					<add name="txt" />
					<remove name="Default" />
				</listeners>
			</source>
			<source name="mySource" switchName="sourceSwitch">
				<listeners>
					<add name="console" />
				</listeners>
			</source>
			<source name="log" switchName="verbose">
				<listeners>
					<add name="txt" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<!--
				The following example adds a EventLogTraceListener object named myListener to the Trace.Listeners collection. The initializeData parameter specifies the name of the event log source that is to be passed to the EventLogTraceListener(String) constructor.-->
				<!--<add name="wyt._dev_._WIN_"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="wyt._dev_._WIN_.log" />-->
				<!--For more information about how to add trace listeners in the application configuration file, see or . 
Note
If the Source for the event log that is associated with the EventLogTraceListener instance does not exist, a new event source is created. To create an event source in Windows Vista, Windows XP Professional, or Windows Server 2003, you must have administrative privileges. 
The reason for this requirement is that all event logs, including security, must be searched to determine whether the event source is unique. In Windows Vista, users do not have permission to access the security log; therefore, a SecurityException is thrown. 
In Windows Vista, User Account Control (UAC) determines the privileges of a user. If you are a member of the Built-in Administrators group, you are assigned two run-time access tokens: a standard user access token and an administrator access token. By default, you are in the standard user role. To execute the code that accesses the security log, you must first elevate your privileges from standard user to administrator. You can do this when you start an application by right-clicking the application icon and indicating that you want to run as an administrator.-->
				<add name="verbose" type="nilnul.app.trace.listener_.file_.TemplatedName,nilnul._app_._LIB_" initializeData="verbose@time.log" traceOutputOptions="DateTime,Callstack" />
				<add name="outline" type="nilnul.app.trace.listener_.file_.TemplatedName,nilnul._app_._LIB_" initializeData="outline@time.log" />
				<add name="err" type="nilnul.app.trace.listener_.file_.templatedName_.BlockQuoted,nilnul._app_._LIB_" initializeData="err@time.log" traceOutputOptions="Callstack">
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
				</add>
				<add name="warn" type="nilnul.app.trace.listener_.file_.TemplatedName,nilnul._app_._LIB_" initializeData="warn@time.log">
					<filter type="nilnul.app._trace.filter_.WarnOnly,nilnul._app_._LIB_" />
				</add>


				<!--
				<add name="myListener" type="nilnul.app.trace.listener_.file_.TemplatedName,wyt._dev_._LIB_" initializeData="@time.log" traceOutputOptions="DateTime,Timestamp" />-->
				<!--
				<add name="consoleOut" type="nilnul.app.trace.listener_.file_.Console,wyt._dev_._LIB_" traceOutputOptions="DateTime" />-->
				<!--<add name="console"/>-->
			</listeners>
		</trace>
	</system.diagnostics>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<!--<dependentAssembly>

				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />

			</dependentAssembly>-->
			<dependentAssembly>

				<assemblyIdentity name="Microsoft.TeamFoundation.Core.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-20.0.0.0" newVersion="16.0.0.0" />
				<!--note: the dll version is not the same as package identifier/taggedIdentity-->

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._web_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._win_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.0.8236.40235" newVersion="2.0.8236.40235" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38660" newVersion="1.0.8236.38660" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38251" newVersion="1.0.8236.38251" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.1.8387.39356" newVersion="2.1.8387.39356" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38331" newVersion="1.0.8236.38331" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.37911" newVersion="1.0.8236.37911" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38065" newVersion="1.0.8236.38065" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._acc_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8118.33967" newVersion="1.0.8118.33967" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._fs_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8118.34295" newVersion="1.0.8118.34295" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._acc_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.1.0.1" newVersion="2.1.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.39195" newVersion="1.0.8236.39195" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._obj_._CTR4WIN_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8154.37214" newVersion="1.0.8154.37214" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.0.8236.38875" newVersion="2.0.8236.38875" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.1.8236.38118" newVersion="1.1.8236.38118" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._txt_._WIN_CTR_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38795" newVersion="1.0.8236.38795" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._fs_._WIN_CTR_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.40837" newVersion="1.0.8236.40837" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="_nilnul_._CTR4WIN_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.7876.29609" newVersion="1.0.7876.29609" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38558" newVersion="1.0.8236.38558" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.geometry._planar_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8212.37496" newVersion="1.0.8212.37496" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.fs._git_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-2.1.0.1" newVersion="2.1.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Octokit" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-0.51.0.0" newVersion="0.51.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8181.34397" newVersion="1.0.8181.34397" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.fs._git_._WIN_CTR_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._xml_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.38030" newVersion="1.0.8236.38030" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Web.Http.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul._acc_._CTR4WIN_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8090.42278" newVersion="1.0.8090.42278" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="NuGet.Packaging" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.6.1.2" newVersion="6.6.1.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="NuGet.Versioning" publicKeyToken="31bf3856ad364e35" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.6.1.2" newVersion="6.6.1.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.num.real._matrix_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8219.18843" newVersion="1.0.8219.18843" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="nilnul.num._complex_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.0.8212.4377" newVersion="1.0.8212.4377" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Octokit" publicKeyToken="0be8860aee462442" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.2.1.0" newVersion="6.2.1.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Reflection.MetadataLoadContext" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Azure.DevOps.Comments.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-18.0.0.0" newVersion="18.0.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
	<userSettings>

		<nilnul.dev._bak_._WIN_._settings.nilnul_dev.srcs.bak_._retVoid.settings._override.Settings1>
			<setting name="shields2bak" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>E:\103\data</string>
						
					</ArrayOfString>
				</value>
			</setting>
			<setting name="srcs" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>d:\103\data</string>
						<string xsi:nil="true" />
						<string xsi:nil="true" />
						<string xsi:nil="true" />
						<string xsi:nil="true" />
						<string xsi:nil="true" />
						<string xsi:nil="true" />
					</ArrayOfString>
				</value>
			</setting>
			<setting name="bakBranch" serializeAs="String">
				<value>bak</value>
			</setting>
			<setting name="tmpBranch" serializeAs="String">
				<value>tmp</value>
			</setting>
			<setting name="moduleRemoteKeysVs" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>vs</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysBitbucket" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>bitBucket</string>
						<string>bitbucket</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysAws" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>aws</string>
						<string>aw</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysGitlab" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>gitLab</string>
						<string>gitlab</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysVsGlAwsBb" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>vsGlAwsBb</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="vsPrefix" serializeAs="String">
				<value>t2</value>
			</setting>
		</nilnul.dev._bak_._WIN_._settings.nilnul_dev.srcs.bak_._retVoid.settings._override.Settings1>
		<nilnul.dev._bak_._WIN_.Properties.Settings>
			<setting name="upgradeRequired" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="lastAddress" serializeAs="String">
				<value />
			</setting>
		</nilnul.dev._bak_._WIN_.Properties.Settings>
		<nilnul.dev.srcs.bak_._retVoid.Settings1>
			<setting name="shields2bak" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>E:\103\data</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="srcs" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>E:\103\data</string>
						<string>E:\103\dat</string>
						<string>E:\103\dpp_</string>
						<string>E:\103\de</string>
						
					</ArrayOfString>
				</value>
			</setting>
			<setting name="bakBranch" serializeAs="String">
				<value>bak</value>
			</setting>
			<setting name="tmpBranch" serializeAs="String">
				<value>tmp</value>
			</setting>
			<setting name="moduleRemoteKeysVs" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>t2vs</string>
						<string>vs</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysBitbucket" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>bitBucket</string>
						<string>bitbucket</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysAws" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>aws</string>
						<string>aw</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysGitlab" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>gitLab</string>
						<string>gitlab</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysVsGlAwsBb" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>vsGlAwsBb</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="vsPrefix" serializeAs="String">
				<value>t2vs</value>
			</setting>
			<setting name="vsAcc" serializeAs="String">
				<value />
			</setting>
		</nilnul.dev.srcs.bak_._retVoid.Settings1>

		<nilnul.dev.bak.nilnul0.dev.src.sln.div_.unjoint_.nonneglect_.giT_.work_.top_._incomplete_.container_.undone_.primed._bak_._upload.Settings1>
			<setting name="push4nonchange" serializeAs="String">
				<value>True</value>
			</setting>
		</nilnul.dev.bak.nilnul0.dev.src.sln.div_.unjoint_.nonneglect_.giT_.work_.top_._incomplete_.container_.undone_.primed._bak_._upload.Settings1>

	</userSettings>
</configuration>
