<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._CTR4WIN_" version="1.1.220725.3040527" targetFramework="net48" />
  <package id="_nilnul_._LIB_" version="1.1.220725.3035720" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.220725.3034302" targetFramework="net48" />
  <package id="AE.Net.Mail" version="1.7.7816.38666" targetFramework="net48" />
  <package id="AWSSDK.CodeCommit" version="3.7.0.184" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.12.13" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="johnHurliman.math._calculus_._LIB_" version="1.0.1" targetFramework="net48" />
  <package id="MathNet.Iridium" version="1.0.1.32096" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.6.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Build" version="17.2.0" targetFramework="net48" />
  <package id="Microsoft.Build.Engine" version="17.2.0" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.2.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.22.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.22.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.22.0" targetFramework="net48" />
  <package id="Microsoft.IO.Redist" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.NET.StringTools" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.5" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundationServer.Client" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.170.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.2.2146" targetFramework="net48" developmentDependency="true" />
  <package id="miroslavStampar.math._calculus_._LIB_" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._acc_._CTR4WIN_" version="1.1.220726.125817" targetFramework="net48" />
  <package id="nilnul._acc_._LIB_" version="2.1.220725.160059" targetFramework="net48" />
  <package id="nilnul._acc_._LINQ_" version="1.1.220725.153642" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.220726.121153" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.220725.125142" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.220725.152519" targetFramework="net48" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net48" />
  <package id="nilnul._data_._LIB_" version="1.1.220725.161201" targetFramework="net48" />
  <package id="nilnul._dev_._CTR4WIN_" version="1.1.220727.142351" targetFramework="net48" />
  <package id="nilnul._dev_._LIB_" version="1.1.220727.120937" targetFramework="net48" />
  <package id="nilnul._edu_._LIB_" version="1.0.8192.20202" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.1.220726.41015" targetFramework="net48" />
  <package id="nilnul._fs_._LINQ_" version="1.1.220725.150437" targetFramework="net48" />
  <package id="nilnul._fs_._WIN_CTR_" version="1.1.220726.41811" targetFramework="net48" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net48" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net48" />
  <package id="nilnul._ling_._LIB_" version="1.1.220725.154752" targetFramework="net48" />
  <package id="nilnul._linq_._LIB_" version="1.0.7827.34075" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.220725.151831" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.220725.44007" targetFramework="net48" />
  <package id="nilnul._obj_._CTR4WIN_" version="1.1.220725.150624" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.1.220725.43600" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.220725.3044541" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.220725.3044347" targetFramework="net48" />
  <package id="nilnul._time_._CTR4WIN_" version="1.0.7827.35996" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.220725.155106" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.220725.152726" targetFramework="net48" />
  <package id="nilnul._txt_._WIN_CTR_" version="1.1.220729.135008" targetFramework="net48" />
  <package id="nilnul._web_._CTR4WIN_" version="1.2.220726.3140516" targetFramework="net48" />
  <package id="nilnul._web_._LIB_" version="1.1.220726.3133635" targetFramework="net48" />
  <package id="nilnul._win_._CTR4WIN_" version="1.1.220726.3130139" targetFramework="net48" />
  <package id="nilnul._win_._LIB_" version="1.1.220726.3115401" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.220725.133946" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220725.152113" targetFramework="net48" />
  <package id="nilnul.dev._src_.directory._cognomen_._LIB_" version="1.1.220725.154120" targetFramework="net48" />
  <package id="nilnul.fs._git_._LIB_" version="2.1.220727.3124127" targetFramework="net48" />
  <package id="nilnul.fs._git_._WIN_CTR_" version="1.1.220726.3145958" targetFramework="net48" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.220725.163601" targetFramework="net48" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.220725.160426" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.220725.155722" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220725.152310" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220725.152942" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220725.153243" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.220725.160835" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.220725.155406" targetFramework="net48" />
  <package id="nilnul.rel._graph_._LIB_" version="1.1.220726.120832" targetFramework="net48" />
  <package id="NuGet.Common" version="6.2.1" targetFramework="net48" />
  <package id="NuGet.Configuration" version="6.2.1" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.2.1" targetFramework="net48" />
  <package id="NuGet.Packaging" version="6.2.1" targetFramework="net48" />
  <package id="NuGet.Versioning" version="6.2.1" targetFramework="net48" />
  <package id="Octokit" version="1.0.0.1" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.0.7863.31102" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.22.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZTn.Json.JsonTreeView" version="1.0.7838.23259" targetFramework="net48" />
</packages>